.contacts {
  width: 35%;
  &__search {
    width: 100%;
  }
  &-users {
    height: 60vh;
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-radius: 6px;
    background-color: wheat;
    list-style: none;
    padding: 10px;
    overflow: auto;
    &__user {
      padding: 10px 40px;
      position: relative;
      box-sizing: border-box;
      border-radius: 6px;
      &_unread {
        &::after {
          content: attr(data-after);
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 7px;
          right: 25px;
          box-sizing: border-box;
          border: 1px solid darkgray;
          border-radius: 100%;
          background-color: greenyellow;
          text-align: center;
          padding: 1.4px;
          @media screen and (max-width: 800px) {
            top: 6px;
            right: 0px;
            padding: 3px;
          }
        }
      }
      &_online,
      &_offline {
        &::before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 13px;
          left: 25px;
          box-sizing: border-box;
          border: 1px solid darkgray;
          border-radius: 100%;
          @media screen and (max-width: 800px) {
            top: 11px;
            left: 0px;
          }
        }
      }
      &_online {
        &::before {
          background-color: greenyellow;
        }
      }
      &_offline {
        &::before {
          background-color: tomato;
        }
      }
      @media screen and (max-width: 800px) {
        padding: 10px 15px;
      }
      @media (hover: hover) {
        &:hover {
            cursor: pointer;
            background-color: rgba($color: darkgray, $alpha: 0.3);
        }
      }
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px burlywood;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: darkgray;
      border: 2px solid burlywood;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }
}
