.header {
  position: relative;
  box-sizing: border-box;
  padding: 45px 20px 0;
}

.garage {
  position: relative;
  &-controls {
    position: absolute;
    bottom: -80px;
    left: 0;
    &__prev {
      margin-right: 15px;
    }
  }
}

.nav {
  &__garage {
    margin-right: 15px;
  }
}

.main {
  padding: 25px 20px 115px;
}

.car {
  margin-bottom: 10px;
  &-controls {
    display: flex;
    gap: 15px;
    align-items: center;
    @media screen and (max-width: 768px) {
      margin-bottom: 7px;
    }
    &__name {
      font-size: 20px;
      margin: 0;
    }
  }
}

.track {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 2px dashed var(--white);
  padding-bottom: 20px;
  &__car-img {
    position: relative;
    top: 29px;
    display: block;
    width: 100px;
    height: 50px;
    @media screen and (max-width: 768px) {
      width: 50px;
      height: 25px;
    }
    animation-timing-function: linear;
    &_fire {
      background-image: url(../../assets/img/fire.gif);
      background-size: 80px 50px;
      background-position: 10px -9px;
      @media screen and (max-width: 768px) {
        background-size: 40px 25px;
        background-position: 6px -6px;
      }
      background-repeat: no-repeat;
    }
  }
  &__finish {
    position: absolute;
    right: 160px;
    bottom: 0;
    width: 50px;
    height: 50px;
    @media screen and (max-width: 768px) {
      right: 60px;
      width: 25px;
      height: 25px;
    }
    background-image: url(../../assets/img/finish.svg);
    background-size: cover;
  }
}

.control-panel {
  max-width: 430px;
  &-create,
  &-update {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name {
      width: 250px;
      height: 29px;
      border: 1px solid var(--black);
    }
    &__color {
      padding: 4.5px 8px;
      box-sizing: content-box;
      border-radius: 6px;
      border: none;
      @media (hover: hover) {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &-functional {
    display: flex;
    justify-content: space-around;
  }
}
.winner-msg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  max-height: 80px;
  font-size: 30px;
  color: white;
  text-shadow: 0px -6px 9px rgb(227, 64, 210);
  margin: auto;
  &_show {
    display: flex;
  }
}

.garage-controls__prev,
.garage-controls__next,
.car-controls__select,
.car-controls__remove,
.track__start,
.track__restart,
.control-panel-functional__race,
.control-panel-functional__reset,
.control-panel-functional__generate,
.control-panel-update__name,
.control-panel-update__color,
.control-panel-update__upt,
.control-panel-create__name,
.control-panel-create__color,
.control-panel-create__crt {
  &_disabled {
    pointer-events: none;
    user-select: none;
    background-color: var(--disabled);
  }
}

.stop-car {
  animation-play-state: paused;
}

.car-drive {
	animation-name: drive;
  @media screen and (max-width: 768px) {
    animation-name: drive-tablet;
  }
}
.car-finished {
  transform: translateX(calc(var(--track-width) - 230px));
  @media screen and (max-width: 768px) {
    transform: translateX(calc(var(--track-width) - 160px));
  }
}
@keyframes drive {
  from {transform: translateX(0);}
  to {transform: translateX(calc(var(--track-width) - 230px));}
}

@keyframes drive-tablet {
  from {transform: translateX(0);}
  to {transform: translateX(calc(var(--track-width) - 160px));}
}
