.dialog {
  width: 60%;
  &-recipient {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    opacity: 0;
    &__name {
      overflow: hidden;
      max-width: 65%;
    }
    &_show {
      opacity: 1;
    }
    &__status {
      color: greenyellow;
      &_offline {
        color: red;
      }
    }
  }
  &-content {
    height: 57vh;
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-radius: 6px;
    background-color: wheat;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    &_first,
    &_zero {
      background-size: 200% 200%;
      @media screen and (max-width: 800px) {
        background-size: 250% 250%;
      }
    }
    &_first {
      background-image: url(../../../../../assets/img/first.svg);
      background-position: center;
    }
    &_zero {
      background-image: url(../../../../../assets/img/zero.svg);
      background-position-x: 42%;
      background-position-y: 50.5%;
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px burlywood;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: darkgray;
      border: 2px solid burlywood;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    @media screen and (max-width: 800px) {
      height: 54vh;
    }
    & .msg {
      position: relative;
      border: 1px solid darkgray;
      border-radius: 6px;
      width: 60%;
      height: min-content;
      align-self: flex-start;
      background-color: antiquewhite;
      margin-bottom: 15px;
      &_self {
        align-self: flex-end;
        background-color: beige;
        @media (hover: hover) {
          &:hover {
              cursor: pointer;
          }
        }
      }
      &_divide {
        margin-top: 80px;
        &::after{
          content: "New messages";
          width: 166%;
          display: block;
          position: absolute;
          top: -61px;
          box-sizing: border-box;
          border-bottom: 2px solid black;
          text-align: center;
        }
      }
      &-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 7px;
        left: -60px;
        background-color: #b8860b;
        text-align: center;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 6px;
        &__delete {
          border-radius: 6px;
          @media (hover: hover) {
            &:hover {
                background-color: rgba($color: darkgray, $alpha: 0.7);
            }
          }
        }
      }
      &-header {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
        box-sizing: border-box;
        padding: 0 2px;
        &__who,
        &__date {
          margin: 0;
        }
        &__who {
          margin-right: 5px;
          overflow: hidden;
          max-width: 65%;
        }
      }
      &__text {
        background-color: rgba(169, 169, 169, 0.3);
        padding: 10px;
        margin: 10px;
        border-radius: 6px;
        overflow: auto;
        &::-webkit-scrollbar {
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px burlywood;
          border-radius: 8px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background-color: darkgray;
          border: 2px solid burlywood;
        }
        &::-webkit-scrollbar-corner {
          background-color: transparent;
        }
      }
      &__status {
        text-align: end;
        display: none;
        margin: 10px;
        &_show {
          display: block;
        }
      }
    }
  }
  &-msg-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
    &__msg {
      width: 70%;
      visibility: hidden;
      &_show {
        visibility: visible;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    & .send {
      width: 20%;
    }
  }
}
