.input {
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 15px;
  outline: none;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid darkgray;
  background-color: wheat;
  &:focus {
    border: 1px solid black;
  }
  &_valid {
    border: 1px solid greenyellow;
  }
}
