@import url(normalize.css);
@import "font";

:root {
  --btn-back: #f1e5d7;
  --btn-back-hover: #c99b66;
  --white: #ffffff;
  --black: #000000;
  --disabled: #a9a9a9;
  --background: #b8860b;
  --track-width: 0;
}

.body {
  font-size: 14px;
  font-family: "Sensei", sans-serif;
  background-color: var(--background);
}

.body_overflow {
  overflow: hidden;
}
