@import url(normalize.css);
@import "font";

:root {
  --btn-back: #f1e5d7;
  --btn-back-hover: #c99b66;
  --white: #ffffff;
  --black: #000000;
  --disabled: #a9a9a9;
  --background: #b8860b;
  --track-width: 0;
  --error-border: #dd3c10;
  --error-back: rgba(255, 235, 232, 0.8);
}

.body {
  font-size: 15px;
  font-family: "Sensei", sans-serif;
  background-color: var(--background);
  @media screen and (max-width: 800px) {
    font-size: 13px;
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px wheat;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: darkgray;
    border: 2px solid burlywood;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.body_overflow {
  overflow: hidden;
}
