.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
  border-radius: 40px;
  padding: 10px;
  box-sizing: border-box;
  &-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width: 800px) {
      width: 100%;
      justify-content: space-around;
    }
  }
  &-buttons {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    @media screen and (max-width: 800px) {
      width: 100%;
      justify-content: space-around;
    }
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
  margin: 20px;
}

.modal__error {
  display: none;
  font-family: "Gagalin", sans-serif;
  border: 1px solid var(--error-border);
  background-color: var(--error-back);
  border-radius: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 50px 10px;
  max-width: 300px;
  max-height: min-content;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  &_show {
    display: block;
  }
}
